@font-face {
    font-family: 'Deansgate Condensed';
    src: url('../assets/tipografia/DeansgateCondensed-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: 'Deansgate Condensed';
    src: url('../assets/tipografia/DeansgateCondensed-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Deansgate Condensed';
    src: url('../assets/tipografia/DeansgateCondensed-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Deansgate Condensed';
    src: url('../assets/tipografia/DeansgateCondensed-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 900;
  }